body{
  margin: 0px;
  padding: 0px;
}

.parent{
  height: 10000px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.top{
  height: 1000px;
  width: 100%;
  background-color: red;
}

.middle{
  height: 1000px;
  width: 100%;
  background-color: black;
}

.bottom{
  height: 1000px;
  width: 100%;
  background-color: gray;
}