body{
  background-color: black;
}

*{
  color: white;
}

.parent{
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 240px;
  border: 1px solid white;
  padding: 25px;
  border-radius: 10px;
  background-color: #222;
}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  margin-left: 50px;
  border-radius: 50%;
}

.card p{
  margin: 20px 0px;
}

.card button{
  padding: 10px;
  margin-left: 60px;
  color: #222;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}