@import "tailwindcss";

body{
  background-color: black;
  padding:0;
  margin:0;
  color: white; 
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 500;
}