body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.btn{
  color: rgb(0, 255, 255);
  background-color: rgb(255, 0, 0);
  margin: 10px 10px;
  padding: 10px 10px;
  width: fit-content;
  border-radius: 10px;
}